@font-face
{
    font-family: rubik-light;
    src: url("Resources/Rubik/Rubik-Light.ttf");
}
@font-face
{
    font-family: "rubik-bold";
    src: url("Resources/Rubik/Rubik-Bold.ttf");
}
@font-face
{
    font-family: "rubik-semi-bold";
    src: url("Resources/Rubik/Rubik-Semi-Bold.ttf");
}

body
{
    background-color: #232323;
}

label, p, h1, h2, h3
{
    color: #ffffff;
}

h1
{
    margin-top: -10px;
    margin-bottom: -10px;
    
    font-size: 60px;
    font-family: rubik-bold;
    color: rgb(81, 160, 224);
}
h2
{
    margin-top: -8px;
    margin-bottom: -8px;

    padding-top: 25px;
    padding-bottom: 25px;
    
    font-size: 40px;
    font-family: rubik-bold;
    color: chartreuse;
}
h3
{
    font-size: 30px;
    font-family: rubik-semi-bold;
    color: chocolate;

    margin: 0px;
    padding: 0px;

    padding-top: 15px;
    padding-bottom: 5px;
}
h4
{
    font-size: 24px;
    font-family: rubik-semi-bold;
    color: chocolate;

    margin: 0px;
    padding: 0px;

    padding-top: 15px;
    padding-bottom: 5px;
}

label
{
    font-size: 26px;
    font-family: rubik-light;
    color: #bebebe
}

a:link { color: #149dcc }
a:hover { color: #1297c3 }
a:visited { color: #1385ac }

.page
{
    position: relative;
    text-align: center;
    margin: auto;

    padding-right: 15px;
    padding-left: 15px;
}

.youtube-video-container
{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    justify-content: center;
    justify-self: center;
}

.youtube-video
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.showcase-button, .showcase-button:visited
{
    background-color: #333333;
    color: white;
    padding: 25px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    font-family: rubik-semi-bold;
    
    border-radius: 100px;
    border-color: rgb(107, 107, 107);
    border-style: solid;
}

.showcase-button:hover, .showcase-button:active
{
    background-color: #252525;
}

.title-header-text
{
    margin-top: -25px;
    margin-bottom: -25px;
}